In [28]:
import pandas as pd
import numpy as 
import os

his_path = 'sim/2030/logs/his'
data_files = [f for f in os.listdir(his_path) if os.path.isfile(os.path.join(his_path, f))]
data_files = [f for f in data_files if '.bak' not in f]
data_files

['host_0_tracker_0.csv', 'host_0_tracker_1.csv']

In [16]:
RES_CONSUMP = 0.00131 # MW

In [3]:
df = pd.DataFrame()
for f in data_files:
    df = pd.concat([df, pd.read_csv(os.path.join(his_path, f))])
print("results from: {} generators".format(len(df.id.unique())))
df

results from: 18 generators

,id,ts,host,tracker,output,demand,net_cap,net_cap_percent
0,-195991192,1,0,0,118.601973,105.00,13.601973,0.114686
1,-1293263167,1,0,0,118.601973,105.00,13.601973,0.114686
2,-728242845,1,0,0,28.920975,42.75,-13.829025,-0.478166
3,-1675485352,1,0,0,88.200000,73.50,14.700000,0.166667
4,-1719963416,1,0,0,118.601973,105.00,13.601973,0.114686
...,...,...,...,...,...,...,...,...
375,1447796223,38,0,1,120.092099,105.00,15.092099,0.125671
376,991293890,38,0,1,88.200000,73.50,14.700000,0.166667
377,844283200,38,0,1,120.092099,105.00,15.092099,0.125671
378,1811534858,38,0,1,32.624891,42.00,-9.375109,-0.287361
379,1943371260,38,0,1,88.200000,73.50,14.700000,0.166667

Find instances where capacity was negative

In [4]:
df.groupby(['ts','tracker']).first().head()

                    id  host      output  demand    net_cap  net_cap_percent
ts tracker
1  0        -195991192     0  118.601973   105.0  13.601973         0.114686
   1         743607863     0   88.200000    73.5  14.700000         0.166667
2  0        -195991192     0  116.224898   105.0  11.224898         0.096579
   1        1447796223     0  116.224898   105.0  11.224898         0.096579
3  0        -195991192     0  112.216429   105.0   7.216429         0.064308

In [5]:
t = df[(df.ts == 5) & (df.tracker == 1)]
t

,id,ts,host,tracker,output,demand,net_cap,net_cap_percent
40,1367406317,5,0,1,877.500000,731.25,146.250000,0.166667
41,743607863,5,0,1,88.200000,73.50,14.700000,0.166667
42,1447796223,5,0,1,118.956372,105.00,13.956372,0.117323
43,1043607079,5,0,1,88.200000,73.50,14.700000,0.166667
44,1283859926,5,0,1,118.956372,105.00,13.956372,0.117323
45,1863679415,5,0,1,118.956372,105.00,13.956372,0.117323
46,991293890,5,0,1,88.200000,73.50,14.700000,0.166667
47,1811534858,5,0,1,30.141272,42.00,-11.858728,-0.393438
48,1943371260,5,0,1,88.200000,73.50,14.700000,0.166667
49,844283200,5,0,1,118.956372,105.00,13.956372,0.117323

In [6]:
t = df[df.ts == 5].groupby(['tracker']).get_group(1).set_index('id')
t.T

id,1367406317,743607863,1447796223,1043607079,1283859926,1863679415,991293890,1811534858,1943371260,844283200
ts,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
host,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
tracker,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
output,877.500000,88.200000,118.956372,88.200000,118.956372,118.956372,88.200000,30.141272,88.200000,118.956372
demand,731.250000,73.500000,105.000000,73.500000,105.000000,105.000000,73.500000,42.000000,73.500000,105.000000
net_cap,146.250000,14.700000,13.956372,14.700000,13.956372,13.956372,14.700000,-11.858728,14.700000,13.956372
net_cap_percent,0.166667,0.166667,0.117323,0.166667,0.117323,0.117323,0.166667,-0.393438,0.166667,0.117323

find time stamps where net_cap was negative.

In [25]:
deficit = t[t.net_cap_percent < 0.15]
surplus = t[t.net_cap_percent > 0]

load_to_shift = deficit.net_cap.sum()
print('need to shift {:.1f} MW'.format(load_to_shift))
print('{:,} homes'.format(np.ceil(load_to_shift / RES_CONSUMP).astype(int)))

available_capacity = surplus.net_cap.sum()
print('able to shift {:.1f} MW'.format(available_capacity))

In [8]:
ts = 5
net_system_cap = supply.net_cap.sum() - deficit.net_cap.sum()
print("at ts {} available capacity was {:.3f} MW".format(str(ts).rjust(3,"0"), net_system_cap))

at ts 005 available capacity was 216.909 MW

Running the below code reveals that each tracker always contains spare capacity

# Changed net_cap_percentto percent_use

In [337]:
df.columns = ['id', 'ts', 'host', 'tracker', 'output', 'demand', 'net_cap', 'percent_use']
df.index.name = 'e_id'
df.output = np.round(df.output, 3)
safety_threshold = 0.1
for tracker in range(df.tracker.max() + 1):
    print("Tracker {}".format(tracker))
    print("===========")
    for ts in range(df.ts.max())[-10:]:
        _ = df[(df.ts == ts) & (df.tracker == tracker)].copy()
        _['s_demand'] = np.round((_.output * (1 - safety_threshold)),2)
        _['s_net_cap'] =  _['s_demand'] - _['demand']
        deficit = _[_['percent_use'] < safety_threshold].copy()
        surplus = _[_['percent_use'] > safety_threshold].copy()
        net_system_cap = supply.net_cap.sum() - deficit.net_cap.sum()
        total_available_capacity = (surplus.output * (1 - safety_threshold) - surplus.demand).sum()

        print("at ts = {}".format(str(ts).rjust(2,"0")))
#         print(_[['output','demand','s_demand','net_cap','s_net_cap','percent_use']])
        print("------------------------------------")
        print("   - total capacity was  {:.2f} MW".format(_.output.sum()))
        print("   - total demand was    {:.2f} MW".format(_.demand.sum()))  
        print("                         ---------")
        print("   - spare capacity was  {:.2f} MW    // ignoring safety factor".format(net_system_cap))
        print("------------------------------------")
        print('   - able to shift       {} MW    // considering safety factor'.format('{:.1f}'.format(total_available_capacity).rjust(6)))
        print("------------------------------------")
        safe_load   = (_.output * (1 - safety_threshold)).sum()
        unsafe_load = (deficit.output * (1 - safety_threshold) - deficit.demand).sum()
        load_to_shift = safe_load - deficit.demand.sum()
        print("   - 'Safe Load' was     {:.2f} MW    // considering safety factor".format(safe_load))

        if unsafe_load < 0:
        # else deficit.output - deficit.demand = (-) load must be shifted
            print("   - 'Unsafe Load' was   {} MW    // need to shift".format('({:.1f})'.format(abs(unsafe_load)).rjust(6, " ")))
            homes_to_shift = np.ceil(np.abs(unsafe_load) / RES_CONSUMP).astype(int)
            surplus['s_net_cap'] = (surplus.output * (1 - safety_threshold)) - surplus.demand
            deficit['s_net_cap'] = (deficit.output * (1 - safety_threshold)) - deficit.demand
            surplus['share_of_net'] =  surplus['s_net_cap'] / surplus['s_net_cap'].sum()
            deficit['share_of_net'] =  deficit['s_net_cap'] / deficit['s_net_cap'].sum()
            surplus['new_load'] = -1 * np.round((surplus['share_of_net'] * unsafe_load) / RES_CONSUMP) * RES_CONSUMP
            deficit['new_load'] = -1 * surplus['new_load'].sum() * deficit['share_of_net']
            s = surplus['percent_use'].sort_values(ascending=True)

            print('   - Load shifting to   {} homes // {:,.1f} MW shifted'.format('{:,}'.format(homes_to_shift).rjust(7),
                                                                                  abs(surplus.new_load.sum()),abs(surplus.new_load.sum())))
            # 38 char
#             print('{}// {:,.1f} MW shifted'.format("".rjust(38), ))
            print("------------------------------------")
            print("All Data")
            print(pd.concat([surplus,deficit])[['output','demand','net_cap','s_net_cap','share_of_net','new_load']])
        else:
            # if   deficit.output - deficit.demand = (+) then no load need be shifted
            print("   - 'Unsafe Load' was        0 MW    ".format(load_to_shift)) # // {:.2f}
            print("------------------------------------")
            print("NO LOAD TO SHIFT".center(36))
        print("=" * 36)

Tracker 0
===========
at ts = 28
------------------------------------
   - total capacity was  618.38 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  321.58 MW    // ignoring safety factor
------------------------------------
   - able to shift         17.6 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     556.54 MW    // considering safety factor
   - 'Unsafe Load' was   (81.3) MW    // need to shift
   - Load shifting to    62,096 homes // 81.3 MW shifted
------------------------------------
All Data
       output  demand    net_cap  s_net_cap  share_of_net   new_load
e_id
219    88.200   73.50  14.700000     5.8800      0.333333  27.115690
220    88.200   73.50  14.700000     5.8800      0.333333  27.115690
223    88.200   73.50  14.700000     5.8800      0.333333  27.115690
216   111.576  105.00   6.576097    -4.5816      0.056323  -4.581700
217     9.612   42.75 -33.138201   -34.0992      0.419191 -34.099942
218   111.576  105.00   6.576097    -4.5816      0.056323  -4.581700
221     9.443   42.00 -32.556829   -33.5013      0.411841 -33.502029
222   111.576  105.00   6.576097    -4.5816      0.056323  -4.581700
====================================
at ts = 29
------------------------------------
   - total capacity was  785.97 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift         87.1 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     707.38 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 30
------------------------------------
   - total capacity was  646.37 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  293.59 MW    // ignoring safety factor
------------------------------------
   - able to shift         17.6 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     581.73 MW    // considering safety factor
   - 'Unsafe Load' was   (56.2) MW    // need to shift
   - Load shifting to    42,868 homes // 56.2 MW shifted
------------------------------------
All Data
       output  demand    net_cap  s_net_cap  share_of_net   new_load
e_id
234    88.200   73.50  14.700000     5.8800      0.333333  18.718590
236    88.200   73.50  14.700000     5.8800      0.333333  18.718590
239    88.200   73.50  14.700000     5.8800      0.333333  18.718590
232   113.411  105.00   8.411432    -2.9301      0.052178  -2.930083
233   113.411  105.00   8.411432    -2.9301      0.052178  -2.930083
235    20.953   42.75 -21.797419   -23.8923      0.425462 -23.892160
237   113.411  105.00   8.411432    -2.9301      0.052178  -2.930083
238    20.585   42.00 -21.415008   -23.4735      0.418004 -23.473362
====================================
at ts = 31
------------------------------------
   - total capacity was  742.64 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift         48.1 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     668.38 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 32
------------------------------------
   - total capacity was  645.47 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  294.50 MW    // ignoring safety factor
------------------------------------
   - able to shift         17.6 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     580.92 MW    // considering safety factor
   - 'Unsafe Load' was   (57.0) MW    // need to shift
   - Load shifting to    43,488 homes // 57.0 MW shifted
------------------------------------
All Data
       output  demand    net_cap  s_net_cap  share_of_net   new_load
e_id
249    88.200   73.50  14.700000     5.8800      0.333333  18.989760
253    88.200   73.50  14.700000     5.8800      0.333333  18.989760
254    88.200   73.50  14.700000     5.8800      0.333333  18.989760
248    24.998   42.75 -17.752036   -20.2518      0.355489 -20.251971
250   110.437  105.00   5.437000    -5.6067      0.098417  -5.606747
251   110.437  105.00   5.437000    -5.6067      0.098417  -5.606747
252   110.437  105.00   5.437000    -5.6067      0.098417  -5.606747
255    24.559   42.00 -17.440597   -19.8969      0.349260 -19.897068
====================================
at ts = 33
------------------------------------
   - total capacity was  745.61 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift         50.8 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     671.05 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 34
------------------------------------
   - total capacity was  831.91 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        128.5 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     748.72 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 35
------------------------------------
   - total capacity was  729.76 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  271.96 MW    // ignoring safety factor
------------------------------------
   - able to shift         41.7 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     656.78 MW    // considering safety factor
   - 'Unsafe Load' was    (5.2) MW    // need to shift
   - Load shifting to     3,957 homes // 5.2 MW shifted
------------------------------------
All Data
       output  demand    net_cap  s_net_cap  share_of_net  new_load
e_id
273   125.583  105.00  20.583214     8.0247      0.192374  0.996910
274   125.583  105.00  20.583214     8.0247      0.192374  0.996910
275    88.200   73.50  14.700000     5.8800      0.140960  0.730980
276    88.200   73.50  14.700000     5.8800      0.140960  0.730980
277   125.583  105.00  20.583214     8.0247      0.192374  0.996910
279    88.200   73.50  14.700000     5.8800      0.140960  0.730980
272    44.595   42.75   1.844983    -2.6145      0.504457 -2.614939
278    43.813   42.00   1.812615    -2.5683      0.495543 -2.568731
====================================
at ts = 36
------------------------------------
   - total capacity was  921.73 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        209.3 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     829.55 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 37
------------------------------------
   - total capacity was  707.91 MW
   - total demand was    620.25 MW
                         ---------
   - spare capacity was  284.98 MW    // ignoring safety factor
------------------------------------
   - able to shift         33.8 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     637.12 MW    // considering safety factor
   - 'Unsafe Load' was   (16.9) MW    // need to shift
   - Load shifting to    12,901 homes // 16.9 MW shifted
------------------------------------
All Data
       output  demand    net_cap  s_net_cap  share_of_net  new_load
e_id
288   122.641  105.00  17.641489     5.3769      0.159218  2.690740
290    88.200   73.50  14.700000     5.8800      0.174115  2.942260
291   122.641  105.00  17.641489     5.3769      0.159218  2.690740
292    88.200   73.50  14.700000     5.8800      0.174115  2.942260
293   122.641  105.00  17.641489     5.3769      0.159218  2.690740
294    88.200   73.50  14.700000     5.8800      0.174115  2.942260
289    38.028   42.75  -4.721841    -8.5248      0.504429 -8.524346
295    37.361   42.00  -4.639002    -8.3751      0.495571 -8.374654
====================================
Tracker 1
===========
at ts = 28
------------------------------------
   - total capacity was  1686.05 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  281.87 MW    // ignoring safety factor
------------------------------------
   - able to shift         82.0 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1517.44 MW    // considering safety factor
   - 'Unsafe Load' was   (51.8) MW    // need to shift
   - Load shifting to    39,564 homes // 51.8 MW shifted
------------------------------------
All Data
       output  demand     net_cap  s_net_cap  share_of_net   new_load
e_id
270   877.500  731.25  146.250000    58.5000      0.713241  36.965580
272    88.200   73.50   14.700000     5.8800      0.071690   3.715160
275    88.200   73.50   14.700000     5.8800      0.071690   3.715160
277    88.200   73.50   14.700000     5.8800      0.071690   3.715160
279    88.200   73.50   14.700000     5.8800      0.071690   3.715160
271   111.576  105.00    6.576097    -4.5816      0.088401  -4.581469
273   111.576  105.00    6.576097    -4.5816      0.088401  -4.581469
274   111.576  105.00    6.576097    -4.5816      0.088401  -4.581469
276   111.576  105.00    6.576097    -4.5816      0.088401  -4.581469
278     9.443   42.00  -32.556829   -33.5013      0.646398 -33.500343
====================================
at ts = 29
------------------------------------
   - total capacity was  1823.85 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        154.2 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1641.46 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 30
------------------------------------
   - total capacity was  1704.53 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  263.39 MW    // ignoring safety factor
------------------------------------
   - able to shift         82.0 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1534.08 MW    // considering safety factor
   - 'Unsafe Load' was   (35.2) MW    // need to shift
   - Load shifting to    26,866 homes // 35.2 MW shifted
------------------------------------
All Data
       output  demand     net_cap  s_net_cap  share_of_net   new_load
e_id
290    88.200   73.50   14.700000     5.8800      0.071690   2.523060
291    88.200   73.50   14.700000     5.8800      0.071690   2.523060
295   877.500  731.25  146.250000    58.5000      0.713241  25.102220
297    88.200   73.50   14.700000     5.8800      0.071690   2.523060
299    88.200   73.50   14.700000     5.8800      0.071690   2.523060
292   113.411  105.00    8.411432    -2.9301      0.083256  -2.930147
293   113.411  105.00    8.411432    -2.9301      0.083256  -2.930147
294   113.411  105.00    8.411432    -2.9301      0.083256  -2.930147
296   113.411  105.00    8.411432    -2.9301      0.083256  -2.930147
298    20.585   42.00  -21.415008   -23.4735      0.666976 -23.473874
====================================
at ts = 31
------------------------------------
   - total capacity was  1788.00 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        121.9 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1609.20 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 32
------------------------------------
   - total capacity was  1696.61 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  271.31 MW    // ignoring safety factor
------------------------------------
   - able to shift         82.0 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1526.95 MW    // considering safety factor
   - 'Unsafe Load' was   (42.3) MW    // need to shift
   - Load shifting to    32,309 homes // 42.3 MW shifted
------------------------------------
All Data
       output  demand     net_cap  s_net_cap  share_of_net   new_load
e_id
311    88.200   73.50   14.700000     5.8800      0.071690   3.033960
313    88.200   73.50   14.700000     5.8800      0.071690   3.033960
315   877.500  731.25  146.250000    58.5000      0.713241  30.186330
318    88.200   73.50   14.700000     5.8800      0.071690   3.033960
319    88.200   73.50   14.700000     5.8800      0.071690   3.033960
310   110.437  105.00    5.437000    -5.6067      0.132472  -5.606497
312   110.437  105.00    5.437000    -5.6067      0.132472  -5.606497
314   110.437  105.00    5.437000    -5.6067      0.132472  -5.606497
316   110.437  105.00    5.437000    -5.6067      0.132472  -5.606497
317    24.559   42.00  -17.440597   -19.8969      0.470112 -19.896181
====================================
at ts = 33
------------------------------------
   - total capacity was  1790.97 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        124.6 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1611.87 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 34
------------------------------------
   - total capacity was  1867.83 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        193.8 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1681.05 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 35
------------------------------------
   - total capacity was  1776.45 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  273.80 MW    // ignoring safety factor
------------------------------------
   - able to shift        114.1 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1598.80 MW    // considering safety factor
   - 'Unsafe Load' was    (2.6) MW    // need to shift
   - Load shifting to     1,961 homes // 2.6 MW shifted
------------------------------------
All Data
       output  demand     net_cap  s_net_cap  share_of_net  new_load
e_id
340   125.583  105.00   20.583214     8.0247      0.070319   0.18078
341   125.583  105.00   20.583214     8.0247      0.070319   0.18078
342   877.500  731.25  146.250000    58.5000      0.512624   1.31655
343    88.200   73.50   14.700000     5.8800      0.051525   0.13231
344   125.583  105.00   20.583214     8.0247      0.070319   0.18078
345    88.200   73.50   14.700000     5.8800      0.051525   0.13231
346   125.583  105.00   20.583214     8.0247      0.070319   0.18078
347    88.200   73.50   14.700000     5.8800      0.051525   0.13231
349    88.200   73.50   14.700000     5.8800      0.051525   0.13231
348    43.813   42.00    1.812615    -2.5683      1.000000  -2.56891
====================================
at ts = 36
------------------------------------
   - total capacity was  1938.60 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  275.62 MW    // ignoring safety factor
------------------------------------
   - able to shift        257.5 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1744.74 MW    // considering safety factor
   - 'Unsafe Load' was        0 MW
------------------------------------
          NO LOAD TO SHIFT
====================================
at ts = 37
------------------------------------
   - total capacity was  1758.23 MW
   - total demand was    1487.25 MW
                         ---------
   - spare capacity was  280.25 MW    // ignoring safety factor
------------------------------------
   - able to shift        103.5 MW    // considering safety factor
------------------------------------
   - 'Safe Load' was     1582.40 MW    // considering safety factor
   - 'Unsafe Load' was    (8.4) MW    // need to shift
   - Load shifting to     6,394 homes // 8.4 MW shifted
------------------------------------
All Data
       output  demand     net_cap  s_net_cap  share_of_net  new_load
e_id
360   122.641  105.00   17.641489     5.3769      0.051937   0.43492
361    88.200   73.50   14.700000     5.8800      0.056796   0.47553
362   122.641  105.00   17.641489     5.3769      0.051937   0.43492
363   877.500  731.25  146.250000    58.5000      0.565067   4.73303
364    88.200   73.50   14.700000     5.8800      0.056796   0.47553
365   122.641  105.00   17.641489     5.3769      0.051937   0.43492
366   122.641  105.00   17.641489     5.3769      0.051937   0.43492
368    88.200   73.50   14.700000     5.8800      0.056796   0.47553
369    88.200   73.50   14.700000     5.8800      0.056796   0.47553
367    37.361   42.00   -4.639002    -8.3751      1.000000  -8.37483
====================================

In [333]:
len('   - able to shift         41.7 MW    ')

38

In [46]:
df[(df.ts == 37) & (df.tracker == 0)]

,id,ts,host,tracker,output,demand,net_cap,net_cap_percent
288,-1293263167,37,0,0,122.641489,105.00,17.641489,0.143846
289,-728242845,37,0,0,38.028159,42.75,-4.721841,-0.124167
290,-1675485352,37,0,0,88.200000,73.50,14.700000,0.166667
291,-195991192,37,0,0,122.641489,105.00,17.641489,0.143846
292,-182766963,37,0,0,88.200000,73.50,14.700000,0.166667
293,-1719963416,37,0,0,122.641489,105.00,17.641489,0.143846
294,-348750876,37,0,0,88.200000,73.50,14.700000,0.166667
295,-23457213,37,0,0,37.360998,42.00,-4.639002,-0.124167

In [52]:
_ = df[(df.net_cap_percent < 0.125) & (df.tracker == 0) & (df.ts == 37)]
_

,id,ts,host,tracker,output,demand,net_cap,net_cap_percent
289,-728242845,37,0,0,38.028159,42.75,-4.721841,-0.124167
295,-23457213,37,0,0,37.360998,42.00,-4.639002,-0.124167

In [56]:
load_to_shift = sum(_.output * _.net_cap_percent)
load_to_shift

-9.360843566211205